@font-face {
    font-family: 'PressStart2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url('../images/startup/background.jpg');
    background-size: cover;
}

.login-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 10px;
    margin-top: 5%;
    width: 90%;
}

.login-form h2 {
    color: #fff;
    text-align: center;
    font-family: 'PressStart2P', sans-serif;
    font-size: 200%;
}

.login-form p{
    color: #fff;
    text-align: center;
    font-family: 'PressStart2P', sans-serif;
    line-height: 1.5;
}

.input-group {
    text-align: center;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    color: #fff;
}

.input-group input {
    width: 60%;
    padding: 10px;
    margin: 5px auto; 
    background-color: lightgray;
    font-family: 'PressStart2P', sans-serif;
    color: #fff;
    font-size: 200%;
    border-radius: 5px;
}

.input-group input::placeholder {
    color: white;
    font-family: 'PressStart2P', sans-serif;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

button {
    display: block;
    margin: auto;
    padding: 50px;
    background-image: url('../images/startup/star.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

button:hover {
    background-image: url('../images/startup/star_hover.png');
}
